html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}


body {
background: url("./images/jfh-bg.jpeg") no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
display: block;
padding:0;
margin:0;
font-family: 'Work Sans', sans-serif;
}

.row {
	display: block;
	widows: 100%;
}

.header {
	display: block;
	width: 15%;
	float: left; 
	background-image: url("./images/slider-bg.png");
	 position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
   }

.nav-bar {
	padding:10px;
}

.logo img {
	width: 200px;
	display: block;
	margin: 20px auto;
	max-width: 100%
}

.user img {
	width: 100px;
	display: block;
	margin: auto;
	max-width: 100%
}

.username {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: #1b1168;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 90%;
    margin: auto;
    display: block;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.data {
	display:  block;
	width: 85%;
	float: right; 
}

.table-fill {
	display: block;

    display: block;
    width: 95%;
    margin: 20px auto;
    padding:10px;
    height: auto;

}

th {
	text-align: left;
	padding-bottom: 15px;
	font-weight: bold;
	font-size: 18px;
}

td {
	padding-top: 5px;
}

@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
 
  float: left;
  margin: 20px 0 100px 10px;
}
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

.tabs {
 
  float: none;
  list-style: none;
  position: relative;
  background-color: #1b1168;
  text-align: left;

}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 18px;
  font-weight: normal;
  
 background-color: #ccc;
  cursor: pointer;
  color:#efefef;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #2980B9;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 14px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background-image: url("./images/slider-bg.png");
  background-repeat: repeat-xy;
    margin-bottom: 35px;

}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #1b1168;
  color:#fff;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}
